.form{
  width: max-content;
  display: flex;
  gap: 20px;
  transition: transform 0.5s;
  flex-direction: row;
}
.form:hover{
  transform: scale(1.1); /* Increase the size of the image on hover */
}
.text{

}
.btn{
  color: #a9acb1;
  font-size:20px
}
.form:hover .btn{
  color:rgb(0 0 0/.6);
}
.btn_active{

}