//general
//colors
$mainColor:#0a66c2;
$secondColor :#004182;
$thirdColor : #f1f1f1;
$backGround: #f1f1f1;
$blackColor:rgb(0 0 0/.9);
//spans
.mainSpan{
  color:$mainColor;
  font-weight: bold;
  font-size:18px
}

.mainGreySpan{
  color:rgb(0 0 0/.9);
  font-weight: bold;
  font-size:18px
}
.mainSpan:hover , .mainSpan:active{
  color:$secondColor;
}
.simplePBlack{
  color:$blackColor;
  font-weight: bold;
  font-size:18px
}
.simpleP{
  color:$mainColor;
  font-weight: bold;
  font-size:18px
}
.h2 {
  font-size:25px;
  color:$mainColor;
  font-weight: bold;
}
//btns
.btn{
  cursor:pointer;
  width:200px;
  height:50px;
  display: flex;
  border:1px solid $mainColor;
  justify-content: center;;
  align-items: center;
  border-radius: 30px;
  background-color: $mainColor;
  font-weight:bold;
  font-size:18px;
  color:white;
  outline: none;
}
.btn:hover, .btn:checked{
  border:1px solid $secondColor;
  background-color: $secondColor;
}

.btn_border{
  cursor:pointer;
  outline: none;
  width:200px;
  height:50px;
  display: flex;
  border:1px solid $mainColor;
  justify-content: center;;
  align-items: center;
  border-radius: 30px;
  background-color: white;
  font-weight:bold;
  font-size:18px;
  color:$mainColor;

}


.btn_border:hover{
  border:1px solid $mainColor;
  color:$mainColor;
  background-color: rgba(112, 181, 249, 0.2);
}
//lines
.separate_line{
  width:400px;
  display: block;
  border:1px dashed $mainColor;
}
.separate_line_grey{
  width:90%;
  display: block;
  margin-top: 20px;
  margin-bottom: 20px;
  border:1px solid #dcdcdc;
}
//pictures
.logoPic{
  display: flex;
  justify-content: start;
  width: 150px;
  height: 120px;
margin-inline-start: 20px;
}

//forms
.basicForm{
  border:1px solid #e2e2e3;
  background-color: white;
  border-radius: 20px;
}



//basic component style
.main{
  display:flex;
  height: 100vh;
}
.left{
position: fixed;
  height:100% ;
  min-width: 27vh;
  display: flex;
  gap: 80px;
  justify-content: start;
  padding: 0 20px;
  flex-direction: column;
}
//box shadows
[dir="rtl"] {
  .left {
    min-width: 28vh!important;
    box-shadow: -5px 0px 10px 1px #aaaaaa;
  }
  .right_main_messages {
    padding: 10px 50px 20px 60px;
    position: fixed;
    bottom: 0px;
    display: flex;
    justify-content: end;
    left: 47px;
  }
  .right_header{
    box-shadow: -8px 0px 10px 0px #888888;
  }
}
[dir="ltr"] {
  .right_main_messages {
    padding: 10px 50px 20px 120px;
    position: fixed;
    bottom: 0px;
    display: flex;
    justify-content: start;
    right: 47px;
  }
  .left {
    box-shadow: 0px 1px 10px 1px  #888888
  }
  .right_header{
    box-shadow: 8px 0px 10px 0px #888888;
  }
}
.logoStyle{
  width:150px;
  margin-inline-start: 0px;
}
.right{
  margin-inline-start: 256px;
  width: 50%;
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
}
.right_header{
  z-index: 100;
  background-color: white;
  border-bottom:2px solid $thirdColor;
  padding-inline-start: 20px;
  // margin-inline-start: 7px;
  padding-bottom: 20px;
  padding-top: 10px;
  gap:50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 87% ;
}
.right_main{
  background-color: $thirdColor;
  margin-top: 30px;
  flex: 1 1 auto;
  //margin-inline-end: 3%;
  margin-inline-start: 8px;
  border-radius: 20px;
  display: flex;
  position: relative;
  justify-content: start;
}
.right_main_main{
  padding: 20px 50px 20px;
  display: flex;
  background-color: $thirdColor;
  width: 60%;
  justify-content: start;
  flex-direction: column;
}
.right_main_messages{

  flex-direction: column;
  align-items: end;
}
.messageContainer{

  display: flex;
  //padding: 0 0 10px 10px;
  padding: 10px;
  gap: 8px;
  justify-content: start;
  align-items: center;
  flex-direction: row;
}
.messageContainerMain{
  border:1px solid $thirdColor;
  display: flex;
  padding: 10px;
  gap: 8px;
  justify-content: start;
  flex-direction: row;
}
.languageDivBasic{
  display: flex;
}
.languageDiv{
  position: relative;
}
.enlanguagePic{
  max-width: 60%;
  cursor:pointer;
  transition: transform 0.5s;
}
.enlanguagePic:hover{
  transform: scale(1.2); /* Increase the size of the image on hover */
}

.heLanguagePic{
  max-width: 40%;
  cursor:pointer;
  transition: transform 0.5s;
}
.heLanguagePic:hover{
  transform: scale(1.2); /* Increase the size of the image on hover */
}

//messages
.allMessagesContainer{
  position: fixed;
  background-color: white;
  width: 40vh;
  display:flex;
  flex-direction: column;
  margin-bottom: 70px;
  bottom: 20px;
}
.fade_in {
  display: flex;
  justify-content: end;
  background-color: white;
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
}

.allMessagesContainer_visible {
  opacity: 1;
}

.allMessagesContainer_hidden {
  opacity: 0;
}

