@import "../../assets/global-styles/styles.module";
.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 5px;
    margin-bottom: 35px;
}
.title{
    color:$mainColor;
    font-size: 25px;
    font-weight: bold;
}
.input{
    font-size: 16px;
    padding-left: 20px;
    height: 40px;
    color:$secondColor;
    width:400px;
    border:2px solid $mainColor;
    border-radius:30px;
}
.input:focus
{
    border:2px solid $secondColor;
    font-size: 16px;
    padding-left: 20px;
    color:$secondColor
}
